@{
    ViewData["Title"] = "certificatesAndstandards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/css/Responsive.css" rel="stylesheet" />
    <title>Certificeringen & Normen</title>
</head>


<div class="card">
    <div class="card-block">
        <a href="/Home/Index" class="btn-back">
            <span>hoofdpagina</span>
        </a>
        <h2>Certificeringen & Normen</h2>
        <div class=" standard">
            <div style="flex-grow: 3" class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4>Blaaskatheteriseren (transurethrale verblijfskatheter) bij
                        man en vrouw</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div style="flex-grow: 2" class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4> Perifeer Ingebrachte Centrale Catheter (PICC)</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div style="flex-grow: 2" class="certificate-card">
                <div class="certificate-content card shadow">
                    <h4> EHBO(Eerste Hulp Bij Ongevallen)</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>

            <div style="flex-grow: 1" class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4> Venapunctie en bloedtransfusie</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>

                </div>
            </div>
            <div class=" certificate-card">
                <div class="certificate-content card shadow ">
                    <h4> Basic Life Support</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>

            </div>
            <div class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4> Sondevoeding</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>
            <div class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4> Wondzorg</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>

                </div>
            </div>
            <div class="  certificate-card">
                <div class="certificate-content card shadow">
                    <h4> ECG-apparaat</h4>

                    <div class="checkmark">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="card">
    <div style="text-align: center;" class="card-block">
        <h2> Normen</h2>
        <img class="img_standard"  src="/img/zzp.png" alt="ZZP">

        <br><br><br><br>

        <img class="img_standard"  src="/img/wkkg.jpg" alt="wkkg">
    </div>

</div>

