@{
    ViewData["Title"] = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/css/Responsive.css" rel="stylesheet" />
    <title>Opleiding</title>
</head>
<div class="card">
    <div class="card-block">
        <a href="/Home/Index" class="btn-back">
            <span>main page</span>
        </a>
        <h2>Opleidingen</h2>
        <div class="row">
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">2022 in opleiding </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-1">
                        <h5 class="card-text d">Aspirant Manschap brandweer </h5>
                        <button id="btn-show-1" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-1" class="show-more">
                        <p class="card-text ">Aspirant Manschap brandweer</p>
                        <button id="btn-hide-1" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>


            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">2-2017 &nbsp;&nbsp; 5-2018</small>
                </div>
                <div class="card-body ">
                    <div id="default-show-2">
                        <h5 class="card-text "> MBO 4 Kapper</h5>
                        <button id="btn-show-2" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-2" class="show-more">
                        <p class="card-text ">Behaald Ghaed in Iran, Shiraz</p>
                        <button id="btn-hide-2" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
          
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">1-2015 &nbsp;&nbsp; 8-2015 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-4">
                        <h5 class="card-text ">Specialisatie Cardiologie algemeen</h5>
                        <button id="btn-show-4" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-4" class="show-more">
                        <p class="card-text "> Behaald Jeroen Bosch Ziekenhuis in 's-Hertogenbosch 1</p>
                        <button id="btn-hide-4" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date "> 9-2011 &nbsp;&nbsp; 7-2013 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-5">
                        <h5 class="card-text ">MBO BBL Verpleegkundige </h5>
                        <button id="btn-show-5" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-5" class="show-more">
                        <p class="card-text ">Behaald Koning Willem 1 college in 's-Hertogenbosch </p>
                        <button id="btn-hide-5" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">9-2007 &nbsp;&nbsp; 7-2010</small>
                </div>
                <div class="card-body ">
                    <div id="default-show-6">
                        <h5 class="card-text ">MBO BOL Verzorgende IG </h5>
                        <button id="btn-show-6" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-6" class="show-more">
                        <p class="card-text "> Behaald ROC in Den Helder</p>
                        <button id="btn-hide-6" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date "> 9-2006 &nbsp;&nbsp; 7-2007 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-7">
                        <h5 class="card-text ">Cursus Staatsexamen Nederlands</h5>
                        <button id="btn-show-7" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-7" class="show-more">
                        <p class="card-text "> Behaald ROC in Den Helder </p>
                        <button id="btn-hide-7" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">9-1998 &nbsp;&nbsp; 7-2001 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-8">
                        <h5 class="card-text ">HAVO </h5>
                        <button id="btn-show-8" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-8" class="show-more">
                        <p class="card-text ">HAVO </p>
                        <p class="card-text "> Behaald in Iran, Shiraz</p>
                        <button id="btn-hide-8" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>


