@{
    ViewData["Title"] = "FireFighter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/css/Responsive.css" rel="stylesheet" />
</head>
<div class="card">
    <div class="card-block ">
          <a href="/Home/Index" class="btn-back">
            <span>hoofdpagina</span>
        </a>
         <h2 style="font-size: 3.4rem;" class="mb-4">Brand blussen</h2>
        <p>Ik ben altijd geïnteresseerd geweest in dit beroep en uiteindelijk heb ik de cursussen en lessen gevolgd en ben ik dit jaar brandweerman geworden. Het is een zeer interessante baan vol avonturen en nieuwe ervaringen.</p>
      
       
        <div class="img_container">
            <img class="fire_img" src="/img/fire10.jpg" alt="">
        </div>
       
    </div>
</div>
<div class="card">
    <div class="card-block ">
       
      
        <p>Hier zijn enkele foto's voor een van de operaties waarvan ik de kans had om enkele foto's te maken</p>
        <div class="img_container">
            <img class="fire_img" src="/img/firefighter3.jpeg" alt="">
            <img class="fire_img" src="/img/fire6.jpeg" alt="">
            <img class="fire_img" src="/img/fire11.jpg" alt="">
        </div>
    </div>
</div>