@{
    ViewData["Title"] = "MaysHairStyle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/css/Responsive.css" rel="stylesheet" />
</head>
<div class="card">
    <div class="card-block ">
        <a href="/Home/Index" class="btn-back">
            <span>main page</span>
        </a>
        <h2 style="font-size: 3.4rem;" class="mb-4">My barber shop</h2>
        <p> Een paar jaar geleden kreeg ik interesse in het kappersvak en volgde ik enkele lessen en cursussen. nu heb
            ik mijn eigen kapperszaak.
            <br>
            mijn kapperszaak heet <b>Mays Hair Style</b>
        </p>
        <div style="text-align: center;padding: 0;"  class="card-block">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2470.084500460745!2d5.515127015778912!3d51.749778379675604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b3ea5f7ee8486ff!2zNTHCsDQ0JzU5LjIiTiA1wrAzMScwMi4zIkU!5e0!3m2!1sen!2s!4v1658159556842!5m2!1sen!2s"
                style="border:0;width: 100%;height: 380px;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        @* <div style="text-align: center;" class="card-block">
            <img style="width: 100%" src="/img/barber1.jpg" alt="wkkg">
            </div> *@
    </div>


</div>
