@{
    ViewData["Title"] = "WorkExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" />
    <link href="/css/Responsive.css" rel="stylesheet" />
    <title> Werkervaring</title>
</head>
<div class="card">
    <div class="card-block">

        <a href="/Home/Index" class="btn-back">
            <span>main page</span>
        </a>

        <h2>Working experience</h2>
        <div class="row">
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">2-2019 &nbsp;&nbsp; heden</small>
                </div>
                <div class="card-body ">
                    <div id="default-show-1">
                        <h5 class="card-text d">ZZP Verpleegkundige</h5>
                        <button id="btn-show-1" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-1" class="show-more">
                        <p class="card-text ">Avond / Nachthoofd functie CWZ Nijmegen Oktober 2020 – Heden</p>
                        <p class="card-text ">Ziekenhuiszorg Acute opname afdeling CWZ Nijmegen Maart t/m September 2020</p>
                        <p class="card-text">Thuiszorg </p>
                        <p class="card-text">VTT team </p>
                        <p class="card-text">PG / Somatiek </p>

                        <button id="btn-hide-1" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>


            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date "> 6-2018 &nbsp;&nbsp;&nbsp;2-2019 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-2">
                        <h5 class="card-text ">Verpleegkundige Den Bosch</h5>
                        <button id="btn-show-2" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-2" class="show-more">
                        <p class="card-text ">Eerstelijns kliniek verpleegkundige </p>
                        <button id="btn-hide-2" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">10-2017 &nbsp;&nbsp; 12-2017 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-3">
                        <h5 class="card-text ">Verpleegkundige Interne Geneeskundige Rivas Gorinchem </h5>
                        <button id="btn-show-3" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-3" class="show-more">
                        <p class="card-text ">Alle verpleegtechnische handelingen </p>
                        <button id="btn-hide-3" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">07-2017 &nbsp;&nbsp;&nbsp; 9-2017 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-4">
                        <h5 class="card-text ">IC- verpleegkundige in opleiding </h5>
                        <button id="btn-show-4" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-4" class="show-more">
                        <p class="card-text ">Rivas, Beatrixziekenhuis Gorinchem</p>
                        <button id="btn-hide-4" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date "> 05-2017&nbsp;&nbsp;&nbsp;  06-2017 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-5">
                        <h5 class="card-text ">Telemetrie verpleegkundige </h5>
                        <button id="btn-show-5" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-5" class="show-more">
                        <p class="card-text ">Rivas Beatrixziekenhuis Gorinchem</p>
                        <button id="btn-hide-5" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">11-2016&nbsp;&nbsp;&nbsp;  04-2017 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-6">
                        <h5 class="card-text ">IC-verpleegkundige in opleiding </h5>
                        <button id="btn-show-6" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-6" class="show-more">
                        <p class="card-text ">ETZ locatie Elisabeth Tilburg</p>
                        <button id="btn-hide-6" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">1-2011&nbsp;&nbsp;&nbsp;  11-2016 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-7">
                        <h5 class="card-text ">Verpleegkundige Cardiologie</h5>
                        <button id="btn-show-7" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-7" class="show-more">
                        <p class="card-text ">Jeroen Bosch Ziekenhuis </p>
                        <p class="card-text ">’s-Hertogenbosch</p>
                        <button id="btn-hide-7" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
            <div class="card col-12 col-md-9 col-lg-7 mx-auto" style="padding: 0; ">
                <div class="card-header ">
                    <small class="date ">1-2010&nbsp;&nbsp;&nbsp;  1-2011 </small>
                </div>
                <div class="card-body ">
                    <div id="default-show-8">
                        <h5 class="card-text ">Verzorgende IG </h5>
                        <button id="btn-show-8" class="btn btn-primary  btn-show-more-less">Show more</button>
                    </div>

                    <div id="show-more-8" class="show-more">
                        <p class="card-text ">Stichting Vughterstede Vught </p>
                        <p class="card-text ">24 uurs zorg Somatiek 1e Verantwoordelijk Verzorgende</p>
                        <button id="btn-hide-8" class="btn btn-primary  btn-show-more-less">Show less</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>